<th:block th:fragment="headerPerfil">
    <div sec:authorize="!isAuthenticated()" class="d-flex align-items-center">
        <a href="../global/login.html" th:href="@{/login}" class="btn btn-outline-light me-2" title="Acceder a tu cuenta">
            <i class="bi bi-box-arrow-in-right me-1"></i>
            Iniciar sesión
        </a>
        <a href="/register" th:href="@{/register}" class="btn btn-light" title="Crear una cuenta nueva">
            <i class="bi bi-person-plus me-1"></i>
            Registrarse
        </a>
    </div>

    <ul sec:authorize="isAuthenticated()" class="navbar-nav text-light">
        <li class="nav-item dropdown">
            <span class="nav-link dropdown-toggle text-light cursor-pointer" id="userDropdown"
                data-bs-toggle="dropdown">
                <i class="bi bi-person-circle me-1 cursor-pointer"></i>
                <span sec:authentication="name" class="cursor-pointer">Usuario</span>
            </span>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a class="dropdown-item" th:href="@{/dashboard}" href="../global/index.html" title="Ir a tu dashboard">
                        <i class="bi bi-briefcase me-2"></i>
                        Mi Dashboard
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" th:href="@{/perfil}" title="Ir a tu perfil">
                        <i class="bi bi-person me-2"></i>
                        Mi perfil
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <form th:action="@{/logout}" method="post">
                        <input class="dropdown-item" type="submit" value="Cerrar sesión">
                    </form>                
                </li>
            </ul>
        </li>
    </ul>
</th:block>
