<div th:fragment="popUpMessages">
    <div th:classappend="${error == null or error.isEmpty()} ? 'd-none' : ''"
        class="alert alert-danger d-flex align-items-center my-4">
        <div class="mx-auto">
            <i class="bi bi-exclamation-triangle-fill me-2"></i>
            <span class="visually-hidden fw-bold">Error:</span>
            <span th:text="${error}" id="errorTextMessage">Se ha producido un error inesperado.</span>
        </div>
    </div>

    <div th:classappend="${info == null or info.isEmpty()} ? 'd-none' : ''"
        class="alert alert-info d-flex align-items-center my-4">
        <div class="mx-auto">
            <i class="bi bi-info-circle-fill me-2"></i>
            <span class="visually-hidden fw-bold">Información:</span>
            <span th:text="${info}" id="infoTextMessage">Mensaje informativo</span>
        </div>
    </div>
</div>
