<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li th:each="incidencia : ${incidencias}">
            <span th:text="${incidencia.id}"></span>
            <span th:text="${incidencia.titulo}"></span>
            <span style="width: 10px;"></span>
            <span th:text="${incidencia.estado.nombre}"></span>
        </li>
    </ul>
</body>
</html>