<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sistema de autenticación para nuestra plataforma de gestion de incidencias">
    <meta name="author" content="Pablo Garcia Maria">

    <title>Iniciar Sesión | Gestión de Incidencias</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/required.css}" href="../../static/css/required.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/login/mostrarContraseña.js}" src="../../static/js/login/mostrarContraseña.js"></script>
</head>

<body class="bg-light">
<main class="container d-flex align-items-center justify-content-center min-vh-100">
    <div class="bg-white p-4 rounded shadow-sm">
        <div class="text-center mb-4">
            <img th:src="@{/img/logo.png}" src="../../static/img/logo.png" alt="Logo de la plataforma" class="mb-3" height="60">
            <h1 class="h3 mb-3 fw-normal">Iniciar Sesión</h1>
            <p class="text-muted">Ingresa tus credenciales</p>
        </div>

        <form th:action="@{/login}" method="post" th:object="usuarioDao" class="mb-3">
            <div class="mb-3">
                <label for="username" class="form-label">Nombre de usuario</label>
                <input type="text" class="form-control" th:field="*{username}" required placeholder="Ingresa tu usuario">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <div class="input-group">
                    <input type="password" class="form-control" th:field="*{password}" required placeholder="Ingresa tu contraseña">
                    <button type="button" class="btn txt-main" id="togglePassword">
                        <i class="bi bi-eye"></i>
                    </button>
                </div>
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="rememberMe" name="remember-me">
                <label class="form-check-label" for="rememberMe">Recordar sesión</label>
            </div>

            <button type="submit" class="w-100 btn bg-main text-white mb-3">Ingresar</button>
        </form>

        <div class="text-center">
<!--            <a href="#" class="txt-main text-decoration-none">¿Olvidaste tu contraseña?</a>-->
            <p class="mt-3 mb-0">¿No tienes cuenta? <a th:href="@{/register}" href="register.html" class="txt-main text-decoration-none">Regístrate aquí</a></p>
        </div>
    </div>
</main>

<script>

</script>
</body>
</html>