<div th:fragment="import">
    <!-- Necesarios para los listar.html -->
    <script src="../../../static/admin/javascript/reutilizables/gestionarDesplegablesFiltros.js"    th:src="@{/static/admin/javascript/reutilizables/gestionarDesplegablesFiltros.js}"  ></script>
    <script src="../../../static/admin/javascript/reutilizables/buscarDesplegablesFiltros.js"       th:src="@{/static/admin/javascript/reutilizables/buscarDesplegablesFiltros.js}"     ></script>
    <script src="../../../static/admin/javascript/reutilizables/modificarParams.js"                 th:src="@{/static/admin/javascript/reutilizables/modificarParams.js}"               ></script>
    <script src="../../../static/admin/javascript/reutilizables/ordenarColumnas.js"                 th:src="@{/static/admin/javascript/reutilizables/ordenarColumnas.js}"               ></script>    
</div>