<div th:fragment="popUpMessages">
    <div th:classappend="${error == null or error.isEmpty()} ? d-none : ''"
        class="alert alert-danger d-flex align-items-center mb-4" role="alert" aria-live="assertive" aria-atomic="true">
        <i class="bi bi-exclamation-triangle-fill me-2" aria-hidden="true"></i>
        <div>
            <strong class="visually-hidden">Error:</strong>
            <span th:text="${error}" id="errorTextMessage">Se ha producido un error inesperado.</span>
        </div>
    </div>

    <div th:classappend="${info == null or info.isEmpty()} ? d-none : ''"
        class="alert alert-info d-flex align-items-center mb-4" role="alert" aria-live="assertive" aria-atomic="true">
        <i class="bi bi-info-circle-fill me-2" aria-hidden="true"></i>
        <div>
            <strong class="visually-hidden">Información:</strong>
            <span th:text="${info}" id="infoTextMessage">Mensaje informativo</span>
        </div>
    </div>
</div>